.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header */
header {
    background-color: #311500;
    padding: 18px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
}

.headerNavList {
    display: flex;
    gap: 36px;
}




.headerNavLink {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.44023728370666504px;
    color: #DEE2EB;


}

.headerFirstNavLink {
    color: #C46A2B;

}

.headerButton {
    width: 100px;
    height: 48px;
    border: none;
    border-radius: 32px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.44023728370666504px;
    color: #DEE2EB;
    background-color: #C46A2B;


}

/* section1 */
.section1 {
    height: 640px;
    background-image: url("../images/sectionCover.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 120px;
}

.section1Frame {
    display: flex;
    align-items: center;
    gap: 32px;


}

.sectionTitle {
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.10000000149011612px;
    color: #FFFFFF;


}

/* section2 */
.section2 {
    padding: 94px 102px;
    background-color: #DEE2EB;
}

.section2Title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    color: #311500;
    margin-bottom: 56px;

}

.cardSection {
    display: flex;
    gap: 20px;
}

.sectionArticleImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.sectionArticle {
    padding: 8px 8px 16px 8px;
    background-color: #311500;

}


.articleTitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #C46A2B;
    margin-block: 16px 14px;


}

.articleText {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.articleButton {
    background-color: #C46A2B;
    border: 1px solid #DEE2EB;
    border-radius: 8px;
}

p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #DEE2EB;

}

/* footer */

footer {
    background-color: #311500;
    padding: 94px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;

}

.footerSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

h4 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    color: #C46A2B;
    text-align: center;


}

.footerLink {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

}

.footerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}